# Created by .ignore support plugin (hsz.mobi)
.idea/
cmake-build-debug/
build/
rapidjson/thirdparty/
*.o
rttr/macos/*
!rttr/macos/x86_64
rttr/msvc/*
!rttr/msvc/x86_64
rttr/linux/*
!rttr/linux/x86_64
!rttr/linux/armhf
!rttr/linux/arm64
rttr/.DS_Store
rttr/build_android_*
.DS_Store
assimp/xcode/*
assimp/test/*
assimp/*.cmake-build-debug
*.def
*.db
!*.pdb
*.exp
*.suo
*.user
*.ilk
*.opendb
*.tlo
*.obj
*.log
*.iobj
*.ipdb
*EtherDreamLog.txt*
*EtherDreamTestApp.exe*
*.idb
*.cache
*.ipch
*.tlog
pyvenv.cfg
__pycache__
**/build_android_*/*
vulkansdk/linux/lib/libVkLayer_khronos_validation.so
vulkansdk/linux/lib/libVkLayer_api_dump.so
cryptopp/linux/*/lib/libcryptopp.a
opencv/ffmpeg
opencv/nap-cmake
docker_images/cmake
*.swp
