# Created by .ignore support plugin (hsz.mobi)
.idea/
cmake-build-debug/
build/
rapidjson/thirdparty/
*.o
rttr/xcode/* 
!rttr/xcode/rttr.xcodeproj
!rttr/xcode/install
rttr/msvc64/*
!rttr/msvc64/install
rttr/.DS_Store
.DS_Store
assimp/test/*
assimp/*.db