# Created by .ignore support plugin (hsz.mobi)
.idea/
cmake-build-debug/
build/
rapidjson/thirdparty/
*.o
rttr/xcode/*
!rttr/xcode/install
rttr/msvc64/*
!rttr/msvc64/install
rttr/linux/*
!rttr/linux/install
rttr/.DS_Store
rttr/build_android_*
.DS_Store
assimp/xcode/*
assimp/test/*
assimp/*.cmake-build-debug
*.def
*.db
!*.pdb
*.exp
*.suo
*.user
*.ilk
*.opendb
*.tlo
*.obj
*.log
*.iobj
*.ipdb
*EtherDreamLog.txt*
*EtherDreamTestApp.exe*
*.idb
*.cache
*.ipch
*.tlog
pyvenv.cfg
__pycache__