<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>json_serialization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>rttr_core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>rttr_core_lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>run_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>unit_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07E84E79493C4B32A5C63CB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42E92A0FD23F4C3DA49901EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0EABB068C74DC9A6856BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A324335C694892A69C1F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5212E6FCACEA44F3B20FAF17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769C9D822183426DB4742DE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD50E3875A4949108D1E0FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA4808125864D17A2A39C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
